.back
{
    background: url("bg\ img.jpg") no-repeat 0 0;
    background-size: cover;
}
#nav1:hover{
  background-color:gold ;
  color: white;
  transition:1s;
 
}

#pic_1:hover{

  background-color: white;


}
#nav2:hover
{
   box-shadow: 0 3px 3px 0  gray;
  background-color: gray;
  transition: 1.5s;
}